name: Imaginary Store Libraries Pipeline
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    env:
      JAVA_VERSION: "21"
      GRADLE_VERSION: "9.3.0"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: "temurin" # Alternative distribution options are available
          cache: gradle
      - name: Setup Gradle ${{ env.GRADLE_VERSION }}
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884
        with:
          gradle-version: ${{ env.GRADLE_VERSION }} # Quotes required to prevent YAML converting to number
      - name: Build with Gradle ${{ env.GRADLE_VERSION }}
        run: gradle build
      - name: Cache SonarQube packages
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew build sonar --info
  publish:
    name: Publish to Repository
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    env:
      JAVA_VERSION: "21"
      REPOSITORY_USR: ${{ secrets.REPOSITORY_USR }}
      REPOSITORY_PWD: ${{ secrets.REPOSITORY_PWD }}
      REPOSITORY_URL: ${{ secrets.REPOSITORY_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@f29f5a9d7b09a7c6b29859002d29d24e1674c884
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: "temurin"
          cache: gradle
      - name: Publish artifact
        env:
          ORG_GRADLE_PROJECT_repoUsr: ${{ env.REPOSITORY_USR }}
          ORG_GRADLE_PROJECT_repoPwd: ${{ env.REPOSITORY_PWD }}
          ORG_GRADLE_PROJECT_repoUrl: ${{ env.REPOSITORY_URL }}
        run: |
          ./gradlew publish --no-daemon --stacktrace